$navbar-wraper-height: 50px;
$navbar-height: 50px;
$navbar-margin-bottom: 0px;
$navbar-padding: 8px;

$navbar-max-width: 1200px;
$navbar-max-width-lg: 1400px;
$navbar-breakpoint-lg: 2400px;
$navbar-breakpoint-sm: 500px;

.navbars-wrapper {
  width: 100%;
  height: $navbar-wraper-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: $navbar-margin-bottom;
}

.navbars-container {
  @extend .navbars-wrapper;
  padding-top: $navbar-padding;
  height: 40px;
  margin: 0;
  flex-wrap: nowrap;
}

.navbars {
  @extend .navbars-container;
  padding: 0;
  
  &-left {
    @extend .navbars;
    justify-content: flex-start;
    padding-left: $navbar-padding;
  }

  &-center {
    @extend .navbars;
  }
  
  &-right {
    @extend .navbars;
    justify-content: flex-end;
    padding-right: $navbar-padding;
  }
  
  &-burger {
    @extend .navbars;
    align-items: baseline;
    justify-content: flex-end;
    padding-right: $navbar-padding;
  }
}

.navbars-width {
  max-width: $navbar-max-width;
}

@media (min-width: $navbar-breakpoint-lg) {
  .navbars-width {
    max-width: $navbar-max-width-lg;
  }
}

@media (min-width: $navbar-breakpoint-sm) {
  .navbars-burger {
    display: none;
  }
}

@media (max-width: $navbar-breakpoint-sm) {
  .navbars-center {
    display: none;
  }
  
  .navbars-right {
    display: none;
  }
}