$navbar-wrapper-height: 50px;
$navbar-height: 50px;
$navbar-padding: 8px;
$navbar-max-width: 1200px;
$navbar-max-width-lg: 1400px;
$navbar-breakpoint-lg: 2400px;
$navbar-breakpoint-sm: 501px;

%navbar-wrapper {
  width: 100%;
  height: $navbar-wrapper-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

%navbar-container {
  @extend %navbar-wrapper;
  
  height: 40px;
  padding-top: $navbar-padding;
  margin: 0;
  flex-wrap: nowrap;
}

%navbar {
  @extend %navbar-container;

  padding: 0;
}

.navbar-wrapper {
  @extend %navbar-wrapper;
}

.navbar-container {
  @extend %navbar-container;
}

.navbar {
  @extend %navbar;
  
  &-left {
    @extend %navbar;

    justify-content: flex-start;
    padding-left: $navbar-padding;
  }

  &-center {
    @extend %navbar;
  }
  
  &-right {
    @extend %navbar;

    justify-content: flex-end;
    padding-right: $navbar-padding;
  }
  
  &-burger {
    @extend %navbar;

    align-items: baseline;
    justify-content: flex-end;
    padding-right: $navbar-padding;
  }
}

.navbar-width {
  max-width: $navbar-max-width;
}

@media (min-width: $navbar-breakpoint-lg) {
  .navbar-width {
    max-width: $navbar-max-width-lg;
  }
}

@media (min-width: $navbar-breakpoint-sm) {
  .navbar-burger {
    display: none;
  }
}

@media (max-width: $navbar-breakpoint-sm) {
  .navbar-center {
    display: none;
  }
  
  .navbar-right {
    display: none;
  }
}