.app.dark {
  --bg-color: #172a39;

  --primary-color: #dfdad7;
  --secondary-color: #fc573b;

  --border-color: #a3a3a3;

  --sidebar-bg-color:#ff9999; 
}

/* Styles */
/* PASTEL-MAIN:       hex: #dfdad7   rgb: rgba(227,218,213,255)  oklch: oklch(0.8915 0.0069 53.43)  */
/* BLUE-SECONDARY:    hex: #172a39   rgb: rgba(23,42,57,255)     oklch: oklch(0.2762 0.0374 243.53) */
/* ORANGE-SECONDARY:  hex: #fc573b   rgb: rgba(252,87,59,255)    oklch: oklch(0.6763 0.2056 32.09)  */
